body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  color: #52585d;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font: 15px "helvetica neue", helvetica, arial, sans-serif;
  background: #f4f4f4;
}

p {
  margin: 0 0 10px 0;
  line-height: 1.5em;
}

a {
  color: #2d81c5;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  cursor: pointer;
}

::selection {
  background: #e0edf8;
  text-shadow: none;
}

hr {
  border: 1px solid #dadada;
  border-width: 1px 0 0 0;
  margin: 10px 0 20px 0;
}

button,
a.cta {
  line-height: 1em;
  display: inline-block;
  font-size: 13px;
  padding: 4px 8px;
  border: 1px solid rgba(0,0,0,0.10);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.40);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.40);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.40);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.40);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.40);
  text-shadow: 0 1px 0 #fff;
  color: #464b4f;
  font-family: 'Lucida Grande';
  background: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background: -moz-linear-gradient(top, #f5f5f5, #e8e8e8);
  background: linear-gradient(top, #f5f5f5, #e8e8e8);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.50)), color-stop(0.5, rgba(255,255,255,0.50)), color-stop(0.5, rgba(255,255,255,0.00))), #e8e8e8;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,0.30);
}


button.default,
a.cta.default {
  border-color: rgba(104,189,244,0.80);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.40), 0 1px 5px 0 rgba(104,189,244,0.60);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.40), 0 1px 5px 0 rgba(104,189,244,0.60);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.40), 0 1px 5px 0 rgba(104,189,244,0.60);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.40), 0 1px 5px 0 rgba(104,189,244,0.60);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.40), 0 1px 5px 0 rgba(104,189,244,0.60);
}

button:active,
a.cta:active {
  border-color: rgba(0,0,0,0.30);
  -webkit-box-shadow: inset 0 3px 15px rgba(0,0,0,0.30), 0 1px 1px rgba(0,0,0,0.10);
  -moz-box-shadow: inset 0 3px 15px rgba(0,0,0,0.30), 0 1px 1px rgba(0,0,0,0.10);
  -moz-box-shadow: inset 0 3px 15px rgba(0,0,0,0.30), 0 1px 1px rgba(0,0,0,0.10);
  -webkit-box-shadow: inset 0 3px 15px rgba(0,0,0,0.30), 0 1px 1px rgba(0,0,0,0.10);
  box-shadow: inset 0 3px 15px rgba(0,0,0,0.30), 0 1px 1px rgba(0,0,0,0.10);
}

input[type=text],
input[type=url],
textarea {
  padding: 3px;
  margin: 0;
  border: 1px solid rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.20);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.20);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.20);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.20);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.20);
}

input[type=text]:focus,
input[type=url]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: rgba(104,189,244,0.80);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.20), 0 1px 5px 0 rgba(104,189,244,0.60);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.20), 0 1px 5px 0 rgba(104,189,244,0.60);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.20), 0 1px 5px 0 rgba(104,189,244,0.60);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.20), 0 1px 5px 0 rgba(104,189,244,0.60);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.20), 0 1px 5px 0 rgba(104,189,244,0.60);
}

textarea {
  padding: 5px;
  height: 80px;
}

.right {
  float: right;
}

.left {
  float: left;
}

#app {
  background: #fff;
  width: 420px;
  margin: 40px auto;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.40);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.40);
  box-shadow: 0 1px 4px rgba(0,0,0,0.40);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.9, #fff), to(#f6f6f6));
  overflow: hidden;
}

#app header {
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.70);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.70);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.70);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.70);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.70);
  background: whiteSmoke;
  background: -webkit-gradient(linear, left top, left bottom, from(whiteSmoke), to(#E8E8E8));
  background: -moz-linear-gradient(top, whiteSmoke, #E8E8E8);
  background: linear-gradient(top, whiteSmoke, #E8E8E8);
  border-bottom: 1px solid #D1D1D1;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  -webkit-border-radius: 3px 3px 0 0;
}

#app header h1 {
  margin: 0;
  font: 20px arial, lucida, helvetica, arial, sans-serif;
  font-weight: normal;
  text-shadow: 0 1px 0 white;
  float: left;
  line-height: 36px;
}

#app article {
  padding: 10px;
}

#app label {
  display: block;
  margin-bottom: 10px;
}

#app label span {
  display: block;
  margin-bottom: 3px;
}